In [1]:
print ('hello')

hello

#type data
- list
- tuple
- set
- dict

# INTER

In [6]:
print(2)
print (type (10))

2
<class 'int'>

# FLOAT

In [8]:
print(1.2)
print (type (1.2))

1.2
<class 'float'>

In [13]:
x = 2
print(type(x))
y = float(x)
print(type(y))
print(y)

<class 'int'>
<class 'float'>
2.0

# STRING

In [17]:
print ('hello') 
print ('''hello nama saya fahmi suwandhi 
saya sedang belajar python''')

hello
hello nama saya fahmi suwandhi
saya sedang belajar python

In [23]:
x = 'fahmi',2
print(x)
print(type(x))

('fahmi', 2)
<class 'tuple'>

# LIST
- berurutan
- dapat dirubah
- bisa duplikat

In [25]:
x = ['motor', 'sepeda', 'motor', 'mobil','sepeda']
print (x)
print(x[1])

['motor', 'sepeda', 'motor', 'mobil', 'sepeda']
sepeda

In [28]:
x = ['motor', 'sepeda', 'motor', 'mobil','sepeda']
x.append('becak','motor','ontel')
print(x)

TypeError: list.append() takes exactly one argument (3 given)

# TUPLE

In [1]:
x = ['motor', 'sepeda', 'motor', 'mobil','sepeda']
x

['motor', 'sepeda', 'motor', 'mobil', 'sepeda']